.text-Align{
    text-align: center;
}

.cartitems {
    margin: 100px 170px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 5px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
    text-align: center;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
    
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 404px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 270px;
    height: 50px;
}
.cartitems-promobox button{
    width: 130px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    .cartitems {
        margin: 40px 50px;
    }
    .cartitems-format-main {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        font-size: 18px;
    }
    .cartitems-down{
        flex-direction: column;
    }
    .cartitems-total{
        width: 80%;
        margin-left: 40px;
        gap: 30px;
    }
    .cartitems-total-item{
        padding: 18px 0px;
    }
    .cartitems-total button{
        width: 220px;
        height: 48px;
    }
    .cartitems-promocode{
        width: 100%;
        margin-top: 60px;
    }
    .cartitems-promobox{
        width: 76%;
        height: 48px;
        display: flex;
    }
    .cartitems-promobox input{
        width: 60%;
    }
    .cartitems-promobox button{
        width: 39%;
        height: 48px;
    }
}