.newsletter {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px;
  margin-bottom: 150px;
  padding: 10px 0 0 0;
  background: linear-gradient(180deg, #fde1ff 90%, #e1ffea22 100%);
  gap: 30px;
}

.newsletter h1 {
  color: #454545;
  font-size: 55px;
  font-weight: 600;
  margin-left: 40px;
}

.newsletter p {
  color: #454545;
  font-size: 20px;
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  height: 730px;
  border: none;
}

.newsletter input {
  width: 500px;
  margin-left: 30px;
  color: #616161;
  font-family: Poppins;
  font-size: 16px;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid #000;
  position: relative;
  right: -10%;
}

.newsletter div button {
  width: 140px;
  height: 50px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  position: relative;
  right: 10.5%;
}
.newsletter {
  /* existing styles */

  /* Add animation properties */
  animation-name: floating;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Define the keyframes for the floating animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px){
  .newsletter {
    height: 60vh;
    margin-bottom: 50px;
  }
  .newsletter h1 {
    font-size: 45px;
    margin-left: 40px;
  }
  .newsletter p {
    margin-left: 30px;
  }
  .newsletter div {
    width: 100%;
    height: 130px;
  }
  .newsletter input {
    width: 1100%;
    margin-left: 80px;
    right: 10%;
  }
  .newsletter div button {
    width: 160px;
    right: 30%;
  }
}
