.scrollup,
.hide {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: cyan;
  z-index: 100;
  bottom: 40px;
  right: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

.hide {
  opacity: 0;
  visibility: hidden;
}
