.container-my{
    margin: 40px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
}

#myheading{
    width: 100%;
    align-content: center;
    margin-bottom: 30px;
}
.content{
    margin-top: 0;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
}

.list{
    flex-wrap: wrap;
    width: 400px;
}