/* contact section starts */
#contact-heading {
  text-align: center;}

#contact-heading .heading-span {
  color:blue;
  font-size: larger;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  


.contact {
  padding-top: 10%; /* Adjust as needed */
}

  
.contact .container {
  max-width: 1200px;
  width: 80%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 40%;
  margin-left: 1rem;
 
}
.contact .content .image-box img {
  width: 95%;
  height: 25rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}
.contact-form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form .form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
 .contact-form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
 .contact-form .field input,
 .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.contact-form .field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}
.contact-form .field input:focus ~ i,
.message textarea:focus ~ i {
  color: rgb(115, 3, 167);
}
.contact-form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
.contact-form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
.contact-form .message textarea {
  min-height: 120px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
.contact-form  .message textarea::-webkit-scrollbar {
  width: 0px;
}
.contact-form  .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 15px;
  background: #f83d0f;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #421cecf5;
}
.button-area span {
  font-size: 2px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 10px;
  left: 6px;
  font-size: 1.3rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}