.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new_dark{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old_dark{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item-price-new_light{
    color: #b0caf5;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old_light{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.pit_light{
  color:white;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
