.navbar{
    display: flex;
    justify-content: space-around;
    /* padding: 16px; */
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu li a{text-decoration: none;}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #ff4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
    gap:45px;
}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border:1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

@media screen and (max-width: 900px){
    .navbar{
        width: 100%;
        padding: 12px;
    }
    .nav-logo{
        flex-direction: column;
        gap: 6px;
    }
    .nav-logo p{
        font-size: 16px;
    }
    .nav-menu{
        flex-direction: column;
        gap: 12px;
        font-size: 16px;
        margin-right: 14px;
    }
    .nav-login-cart{
        gap:18px;
    }
    .nav-login-cart button{
        width: 100px;
        height: 42px;
        font-size: 16px;
        margin-right:0px;
    }
    .nav-cart-count{
        width: 20px;
        height: 20px;
        margin-top: -34px;
        margin-left: -90px;
        font-size: 12px;
    }
    .cart-img{
        width: 2.5rem;
        margin-right: 58px;
    }
}