.new-collections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 100px;
}
.new-collections .h1_dark {
  color: #171717;
  font-size: 30px;
  font-weight: 600;
}

.h1_light {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.new-collections hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
}

.hr_dark {
  background: #252525;
}
.hr_light {
  background: white;
}
.new-collections-item {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.collections {
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  /* grid-template-columns: repeat(auto-fill, 20rem); */
}
